<link rel="stylesheet" href="/../public/styles.css">

<img src="/img/homer.png" alt="homer d'oh" id="homer">

<h3 id="titulo404">La página www.
{{#if url}}
    {{url}}
{{/if}} no se ha encontrado</h3>